@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    /* Primary */
--pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Red Hat Display', sans-serif;
      font-size: 16px;
      background-color: var(--pale-blue);
      padding: 1.25rem
  }

  .bgr{
      background: url("./images/pattern-background-mobile.svg") no-repeat center/cover;
      height: 400px;
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      bottom: 0;
      z-index: -1
  }

  img {
      max-width: 100%;
  }

  button {
    font-family: inherit;
  }
  

  .container {
      position: absolute;
      background-color: #fff;
      margin: 20px;
      padding: 20px;
      border-radius: 1.2rem;
      box-shadow: 3px 3px 3px hsl(228, 45%,44%, 0.2)
  }

  .container .plan {
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

  p {
      color: var(--Desaturated-blue)
  }

  .plan {
      background-color: var(--Very-pale-blue);
  }










@media (min-width: 768px) {
 .bgr {
     background: url("./images/pattern-background-desktop.svg") no-repeat center/cover;
     height: 50vh;
 }
}