@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    /* Primary */
--pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Red Hat Display', sans-serif;
      font-size: 16px;
      background-color: var(--pale-blue);
      padding: 1.25rem;
      text-align: center;
  }

  .bgr{
      background: url("./images/pattern-background-mobile.svg") no-repeat center/cover;
      height: 400px;
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      bottom: 0;
      z-index: -1
  }

  img {
      max-width: 100%;
  }

  button {
    font-family: inherit;
  }
  

  .container {
      position: absolute;
      background-color: #fff;
      margin: 20px;
      border-radius: 1.2rem;
      box-shadow: 3px 3px 3px hsl(228, 45%,44%, 0.2)
  }

  .container img {
      width: 100%;
      border-top-left-radius: 1.2rem;
      border-top-right-radius: 1.2rem

  }

  .container .plan {
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

  h1 {
      color:hsl(223, 47%, 23%)
  }

  p {
      color: var(--Desaturated-blue);
      line-height: 1.6;
  }

  .plan {
      background-color: var(--Very-pale-blue);
  }

  .btn {
      border: none;
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: 900;
      cursor: pointer;
      transition: all ease-in-out .2s
  }

  .btn-change {
      background-color: transparent;
      color: var(--Bright-blue);
      text-decoration: underline;
      
  }

  .btn-primary {
      background-color: var(--Bright-blue);
      color: #fff;
      padding: 10px 20px
  }

  .btn-primary:hover, .btn-change:hover {
      opacity: 0.8;

  }

  .btn-secondary {
      background-color: transparent;
      color: var(--Desaturated-blue);
  }

  .btn-secondary:hover{
      color:hsl(223, 47%, 23%)
  }










@media (min-width: 768px) {
 .bgr {
     background: url("./images/pattern-background-desktop.svg") no-repeat center/cover;
     height: 50vh;
 }
}